.outerDiv{
    background-color: #1A1A1A;
    display: flex;
    padding-left: 8px;
    padding-right: 8px;
    position: relative;
}
.outerDiv:hover .heading{
    text-decoration: underline;
}

.outerDiv:hover .date{
    text-decoration: underline;
}
.heading{
    color:rgb(204, 204, 204);
    font-family: 'Inter', sans-serif;
    
}
.date{
    position: absolute;
    font-family: 'Inter', sans-serif;
    color:white;
    right:10px;
}