.outerDiv{
    padding-left: 8px;
    padding-right: 8px;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    
}

.heading{
    color: rgb(204, 204, 204);
    font-family: 'DINPro-Medium',sans-serif;
    font-weight: 400;
    font-size: 250%;
}
.subheading{
    margin-left: auto;
    margin-right: auto;
    color: rgb(204, 204, 204);
    font-family: 'DINPro-Medium',sans-serif;
    font-weight: 400;
    font-size: 150%;
}
.text{
    color: rgb(204, 204, 204);
    font-family: 'DINPro-Medium',sans-serif;
    font-size: 100%;
}
.smalltext{
    color: rgb(204, 204, 204);
    font-family: 'Inter',sans-serif;
    font-size: 90%;
}
.image{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    
}
.wrapImageDiv{
    display: flex;
    
}
@font-face {
    font-family: "DINPro";
    src: url("../assets/DINPro-Black.ttf");
}

@font-face {
    font-family: "Inter";
    src: url("../assets/Inter.ttf");
}

@font-face {
    font-family: "DINPro-Medium";
    src: url("../assets/DINPro-Medium.ttf");
}

.sidelinks{
    color: #EB5A3C;
    text-decoration: none;
}