.outerDiv {
    background-color: #0C0C0C;
    height: 100px;
    text-align: center;
    margin-top: auto;
    position: absolute;
    bottom: 10px;
    width: 100%;
}


.outerDiv p{
    color:rgb(151, 148, 148);
    font-family: 'DINPro-Medium',sans-serif;
}
.linksList{
    color:rgb(151, 148, 148);
    list-style-type: none;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0px;
    margin-bottom: 10px;
    margin-top: -5px;
}
.linksList li{
    margin-right: 10px;
    font-family: 'DINPro-Medium',sans-serif;
    display: inline-block;
}
.linksList li a{
    color:rgb(151, 148, 148);
    text-decoration: none;
}
.linksList li a:visited{
    color:rgb(151, 148, 148);
}
.linksList li a:hover{
    text-decoration: underline;
}
.linksList li:last-child{
    margin-right: 0px;
    font-family: 'DINPro-Medium',sans-serif;
    display: inline-block;
}

.surroundDiv{
    display: flex;
}