.surroundDiv{
    display: flex;
    justify-content: center;
    background-color: #0c0b0b;
}

.links{
    color:rgb(204, 204, 204);;
    text-decoration: none;
    font-family: 'Inter',sans-serif;
    
}
.links:hover{
    color:#EB5A3C;
    
}
.listStyle{
    padding: 0px;
    list-style-type: none;
}
.listStyle li{
    display: inline-block;
    padding-right: 30px;
}
.navbar li:last-child {
    margin-right: 0; 
}