.outerDiv{
    background-color:#0c0b0b;
    height: 100px;
    display: flex;
    align-items: center;
}
.headText{
    margin: 0;
    font-family: 'Fira Code', sans-serif;
    font-weight: 400;
    font-size:300%;
    color:white;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
}

.headText:hover{
    text-decoration: underline;
}
