.outerBox{
    background-color: #782c1c;
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
}

.urgentText{
    padding: 3px;
    margin-right: auto;
    margin-left: auto;
    color:rgb(204, 204, 204);
    font-size: 120%;
    font-family: 'DINPro-Medium',sans-serif;;
}

.links{
    color:#EB5A3C;
    text-decoration: none;
    
}
.outerBox:hover .links{
    text-decoration: underline;
}
.emailLink{
    color:#EB5A3C;
}
